<nav class="navbar navbar-expand-md bg-transparent border-bottom sticky-top glass-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/users"><i class="fa-solid fa-graduation-cap"></i> ModernMentor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/users">Home</a>
          <a class="nav-link" href="">Hackthon Groups</a>
          <a class="nav-link" href="">Students</a>
          <a class="nav-link" href="#">Mentors</a>
          <form action="/users/new" method="GET">
            <button class="btn btn-dark">Create Account</button>
          </form>
          <form action="/users/login" method="GET">
            <button class="btn btn-dark">Log in</button>
          </form>
          
         
        </div>
      </div>
    </div>
  </nav>