<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-5" style="max-width: 600px;">
    <br><br>
    <h2 class="mb-4 text-center">ADD Group info</h2>
    <form action="/create-group" method="post">
      <div class="mb-3">
        <label for="groupName" class="form-label">Group Name</label>
        <input
          type="text"
          class="form-control"
          id="groupName"
          name="groupName"
          placeholder="Enter Group Name"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder=""
          required
        />
      </div>

      <button type="submit" class="btn btn-primary-custom btn-lg border border-1 border-dark">Submit</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>